
.red{
    background-color: aqua;
}

.bg_blue{
    color: blue;
    background-color: #a99393;
}

#span1{
    color: rgb(243, 138, 2);
}
#first{
    background-color: blueviolet;
    color: rgb(5, 225, 152);
}